@import url("https://fonts.googleapis.com/css2?family=Farro&family=Luckiest+Guy&display=swap");

* {
  box-sizing: border-box;
}

body,
h1 {
  margin: 0;
  font-family: "Farro", sans-serif;
  text-align: center;
  background-color: #08aeea;
  background-image: linear-gradient(to right, #08aeea 0%, #2af598 100%);
}

input {
  font-size: 1.65rem;
  padding: 0.5rem 1rem;
  border: 2px solid #34656d;
  border-radius: 10px;
  margin: 0 0 2rem;
}

h1 {
  font-family: "Luckiest Guy", cursive;
  font-size: 3rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #02475e;
  margin: 2rem 0;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
}
